<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${info.website_name}]]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/css/bootstrap-5.1.3-dist/css/bootstrap.css">
    <script src="/css/bootstrap-5.1.3-dist/js/bootstrap.js"></script><!--不导入无法使用下拉等属性-->
    <script src="/css/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/css/markdown.css">
    <link rel="stylesheet" href="/css/index.css">

    <link rel="stylesheet" href="/js/prism/prism.css">
    <script src="/js/prism/prism.js"></script>
    <script src="/js/index.js" type="module"></script>

    <!--    <link rel="stylesheet" href="/css/font-awesome-4.7.0/css/font-awesome.min.css">-->
<style th:inline="css">

    [[${css}]]
</style>
</head>
<body>

<!-- pc布局 -->
<div class="wrapper guan">
    <nav class="row bg-light ">

        <div class="col-sm-4 "><p class=".text-center text" id="website_name">[[${info.website_name}]]</p></div>
        <div class="col-sm-3  "></div>
        <div class="col-sm col-12">
            <div class="row">
                <div class="dropdown col-4 col-sm-6">
                    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        文章类型
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink "  id="type">

                    </ul>
                </div>
                <div class="col-8 col-sm-6">
                    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder=" to search..."  >
<!--                    <datalist id="datalistOptions">-->
<!--                        <option value="San Francisco">-->
<!--                        <option value="New York">-->
<!--                        <option value="Seattle">-->
<!--                        <option value="Los Angeles">-->
<!--                        <option value="Chicago">-->
<!--                    </datalist>-->
                </div>
            </div>



        </div>

    </nav>
    <div class="context row">
        <div class="col-12 col-sm-8" id="essay">
            <p >最新文章</p>
            <div class="list-group">
<!--                <a href="#" class="list-group list-group-item-action list-group-flush">A simple default list group item</a>-->
<!--                <a href="#" class="list-group list-group-item-action list-group-flush">A simple default list group item</a>-->
<!--                <a href="#" class="list-group list-group-item-action list-group-flush">A simple primary list group item</a>-->
<!--                <a href="#" class="list-group list-group-item-action list-group-flush">A simple secondary list group item</a>-->
<!--                <a href="#" class="list-group list-group-item-action list-group-flush">A simple success list group item</a>-->

            </div>
            <a href="#" class="list-group list-group-item-action list-group-flush" id="get_more_essay" >加载更多文章</a>
        </div>
        <div class="col-sm-4 mobile_about">
<!--            <pre><code class="language-java"></code></pre>-->
            <div class="card">
                <div class="card-body">
                    关于网站
                </div>
                <div class="card-body">
                    <blockquote class="blockquote ">
                        <p id="website_about">[[${info.website_about}]]</p>

                        <footer class="blockquote-footer" > <cite title="Source Title" id="website_about_added">website_about_added</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    
    [[${js}]]
</script>

</body>
</html>

